:root {
  --yellow-terminal: #ebcb8b;
  --green-terminal: #a3be8c;
  --red-terminal: #bf616a;
  --red-2-terminal: #bc636b;
  --background-dark-terminal: #3b4252;
  --background-dark-2-terminal: #2e3545;
  --background-dark-3-terminal: #52505b;
  --dark-accent-terminal: #2e3440;
  --blue-terminal: #88b3c9;
  --beige-terminal: #e5e9f0;
  --purple-terminal: #b48ead;
  --brown-terminal: #c9bfae;
}
